@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
li {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #000000;
    max-width: 1440px;
    padding: 0 60px;
}

.header-burg {
    display: none;
}

.header-wrapper {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.18em;
    color: #000000;
}

span {
    font-weight: 600;
}

.header-nav {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
}

.header-nav>a {
    transition: all 0.3s;

}

.header-nav>a:hover {
    color: #FFAA00;
}

.header-btn {
    width: 180px;
    height: 51px;
    background: #FFAA00;
    border-radius: 42px;
    color: #ffffff;
    border: none;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.3s;
}

.header-btn:hover,
.text-btn:hover,
input[type="submit"]:hover,
.card-1>svg:hover,
.card-2>svg:hover,
.card-3>svg:hover,
.card-4>svg:hover,
.reviews-block>svg:hover {
    transform: scale(1.05, 1.05);
    background-color: #CE8C08;
}

.banner {
    margin-top: 144px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.banner-text {
    max-width: 580px;
}

.text-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #25282D;
}

.text-content {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #25282D;
    margin-top: 25px;
}

.text-btn {
    margin-top: 47px;
    width: 252px;
    height: 51px;
    background: #FFAA00;
    border-radius: 42px;
    border: none;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s;
}

#advantages,
#catalog,
#reviews {
    margin-top: 144px;
}

.advantagages-title,
.catalog-title,
.reviews-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #25282D;
}

.advantages-cards {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    gap: 16px;
}

.card {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 11px;
    background-color: rgba(255, 170, 0, 0.13);
    border-radius: 34px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #25282D;
    padding: 5px;
}

.catalog-cards {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.card-1,
.card-2,
.card-3,
.card-4 {
    width: 280px;
    height: 353px;
    border-radius: 42px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    color: #ffffff;
    padding: 17px;
    gap: 10px;
}

.card-1 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.14%, #000000 106.8%), url(/image/design_1.webp);
}

.card-2 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.14%, #000000 106.8%), url(/image/design_2.webp);
}

.card-3 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.14%, #000000 106.8%), url(/image/design_3.webp);
}

.card-4 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.14%, #000000 106.8%), url(/image/design_4.webp);
}

.card-1>svg,
.card-2>svg,
.card-3>svg,
.card-4>svg,
.reviews-block>svg {
    width: 31px;
    height: 31px;
    background-color: #FFAA00;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.card-1-text,
.card-2-text,
.card-3-text,
.card-4-text {
    padding-bottom: 3%;
}

.reviews-block {
    margin-top: 48px;
    padding: 100px 0;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-card {
    max-width: 380px;
    max-height: 253px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    background: #F9F9F9;
    border: 1px solid #FFAA00;
    border-radius: 40px;
    transition: all 0.3s;
}

.block-card.active {
    transform: scale(1, 1.05);
    background-color: rgb(206, 140, 8, 0.7);
}

.block-card-text {
    padding: 16px;
}

.block-card>img {
    max-height: 253px;
}

.card-text-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #25282D;
}

.card-text-content {
    margin-top: 8px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #25282D;
}

.prev,
.next {
    position: absolute;
    bottom: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    right: 53px;
}

.next {
    right: 10px
}

#application {
    margin: 0 auto;
    margin-top: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 47px;
    background-image: url(/image/application_fon.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 42px 51px 28px 60px;
    max-width: 1178px;
    height: 439px;
    border-radius: 70px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.application-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}

#name,
#tel {
    width: 323px;
    height: 51px;
    background: #FFFFFF;
    border-radius: 42px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #25282D;
    padding-left: 23px;
}

textarea {
    border: none;
    width: 323px;
    height: 143px;
    background: #FFFFFF;
    border-radius: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #25282D;
    padding-left: 23px;
    padding-top: 16px;
}

input[type="submit"] {
    border: none;
    width: 310px;
    height: 51px;
    background: #FFAA00;
    border-radius: 42px;
    border: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s;
}

footer {
    margin-top: 148px;
    height: 84px;
    background: #25282D;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.block-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    gap: 50px;
}

.block-contact-email,
.block-contact-tel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.block-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    align-self: center;
}

@media (min-width: 992px) and (max-width: 1200px) {
    body {
        padding: 0 10px;
    }

    .header-logo,
    .text-content {
        font-weight: 300;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.16em;
    }

    .header-nav {
        font-size: 18px;
        line-height: 22px;
        gap: 25px;
    }

    .banner-image>img {
        max-width: 100%;
    }

    .text-title {
        font-size: 38px;
        line-height: 46px;
    }

    .card {
        width: 300px;
        gap: 9px;
        font-size: 20px;
        line-height: 25px;

    }

    .block-card {
        max-width: 300px;
        max-height: 253px;
        gap: 10px;
        border-radius: 35px;
    }

    .block-card>img {
        height: 150px;
        border-radius: 30px 0 0 30px;
        position: relative;
        top: 50px;
        right: 10px;
        padding-left: 10px;
    }
}

@media (min-width: 766px) and (max-width: 992px) {
    body {
        padding: 0 10px;
    }

    .header-logo,
    .text-content {
        font-weight: 300;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 0.12em;
    }

    .header-nav {
        font-size: 16px;
        line-height: 22px;
        gap: 10px;
    }

    .header-btn {
        width: 140px;
        height: 41px;
        border-radius: 42px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
    }

    .banner-image>img {
        max-width: 100%;
    }

    .banner {
        margin-top: 90px;
        gap: 10px;
    }

    .banner-text {
        max-width: 450px;
    }

    .text-title {
        font-size: 28px;
        line-height: 36px;
    }

    .text-btn {
        margin-top: 40px;
        width: 170px;
        height: 41px;
        border-radius: 42px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }

    .card {
        width: 230px;
        gap: 5px;
        font-size: 16px;
        line-height: 18px;
    }

    .card>img {
        width: 70px;
        height: 70px;
    }

    .reviews-block {
        margin-top: 0;
        padding: 80px 0;

    }

    .block-card {
        max-width: 240px;
        max-height: 200px;
        gap: 5px;
        border-radius: 35px;
    }

    .block-card>img {
        height: 130px;
        border-radius: 25px 0 0 25px;
        position: relative;
        top: 15px;
        right: 5px;

    }

    .card-text-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
    }

    .card-text-content {
        margin-top: 4px;
        font-size: 10px;
        line-height: 10px;
    }

    .application-title {
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
    }

    #name,
    #tel {
        width: 250px;
        height: 41px;
        border-radius: 42px;
        font-weight: 300;
        font-size: 18px;
        line-height: 20px;
    }

    textarea {
        width: 250px;
        height: 120px;
        border-radius: 28px;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
    }

    input[type="submit"] {
        width: 250px;
        height: 41px;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
    }

    #advantages,
    #catalog,
    #reviews,
    #application {
        margin-top: 90px;
    }

    footer {
        margin-top: 90px;
        height: 64px;
    }

    .block-contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #ffffff;
        gap: 10px;
        font-size: 14px;
    }

    .block-contact-email,
    .block-contact-tel {
        gap: 5px;
        justify-content: center;
    }

    .block-contact-tel>img,
    .block-contact-email>img {
        width: 7%;
        height: 7%;

    }
}

@media (min-width: 320px) and (max-width: 766px) {
    body {
        margin: 0 auto;
        padding: 0 19px;
    }

    .header {
        display: none;
    }

    .header-burg-wrapper {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-burg-close {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .header-burg-list {
        margin: 0 -19px;
        padding: 0 20px;
        padding-top: 72px;
        background-color: #FFAA00;
        display: none;
    }

    .header-burg-nav {
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        color: #000000;
    }

    .header-burg-nav>a:hover {
        color: #ffffff;
    }

    .header-burg-btn {
        width: 274px;
        height: 51px;
        margin: 49px 0 76px;
        background: #FFAA00;
        border: 1px solid #FFFFFF;
        border-radius: 42px;
    }

    .banner {
        margin-top: 48px;
        flex-direction: column-reverse;
        gap: 32px;
    }

    .banner-image>img {
        width: 282px;
        height: 240px;
    }

    .text-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }

    .text-content {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;

    }

    .text-btn {
        margin: 0 auto;
        margin-top: 27px;
        width: 274px;
        height: 51px;
        font-weight: 700;
    }

    .advantagages-title {
        margin-top: 60px;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }

    #advantages {
        margin-top: 61px;
    }

    .card {
        width: 285px;
        height: 131px;
        border-radius: 20.8741px;

    }

    .card>img {
        width: 80px;
        height: 80px;
    }

    .card>p {
        font-weight: 300;
        font-size: 14.7347px;
        line-height: 18px;
    }

    #catalog {
        margin-top: 32px;
    }

    .advantagages-title,
    .catalog-title,
    .reviews-title {
        font-size: 24px;
        line-height: 29px;
    }


    .catalog-cards {
        margin-top: 25px;
        flex-direction: column;
        gap: 18px;
    }

    #reviews {
        margin-top: 37px;
    }

    .reviews-block {
        margin-top: -112px;
        padding: 130px 0;
        flex-direction: column;
        gap: 10px;

    }

    .block-card {
        width: 274px;
        height: 166px;
        border-radius: 30px;
    }

    .card-text-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
    }

    .card-text-content {
        margin-top: 4px;
        font-weight: 300;
        font-size: 10px;
        line-height: 12px;
    }

    .block-card>img {
        max-height: 165px;
    }

    .block-card-text {
        padding: 10px;
    }

    #application {
        width: 271px;
        height: 651px;
        margin-top: 28px;
        flex-direction: column;
        border-radius: 103px;
        justify-content: center;
        padding: 20px;
        background-size: cover;
        background-position: bottom;

    }

    .application-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }

    form {
        margin: 0;
    }

    #name,
    #tel {
        width: 237px;
        height: 51px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        border-radius: 42px;
    }

    textarea {
        width: 237px;
        height: 143px;
    }

    input[type="submit"] {
        width: 249px;
        height: 51px;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }

    footer {
        margin-top: 76px;
        height: 215px;
        flex-direction: column;
        text-align: center;
    }

    .block-contact {
        flex-direction: column;
        gap: 15px;
    }
}