@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --main-orange: #FFAA00;
    --main-text-color: #25282D;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
li {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    margin: 0 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: black;
    max-width: 1440px;
    padding: 0 60px;
}

.header-burg-list,
.header-burg-wrapper {
    display: none;
}

.header-wrapper {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.18em;
    color: black;
}

.logo-part {
    font-weight: 600;
}

.header-nav {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
}

.header-nav>a {
    transition: all 0.3s;

}

.header-nav>a:hover {
    color: var(--main-orange);
}

.header-btn {
    width: 180px;
    height: 51px;
    background: var(--main-orange);
    border-radius: 42px;
    color: white;
    border: none;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.3s;
}

.header-btn:hover,
.text-btn:hover,
input[type="submit"]:hover,
.card-content>svg:hover,
.reviews-slider>svg:hover {
    transform: scale(1.05, 1.05);
    background-color: #CE8C08;
}

.card:hover {
    transform: scale(1, 1.05);
}

.banner {
    margin-top: 144px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.banner-text {
    max-width: 580px;
}

.text-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: var(--text-color);
}

.text-content {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #25282D;
    margin-top: 25px;
}

.text-btn {
    margin-top: 47px;
    width: 252px;
    height: 51px;
    background: var(--main-orange);
    border-radius: 42px;
    border: none;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

#advantages,
#catalog,
#reviews {
    margin-top: 144px;
}

.advantagages-title,
.catalog-title,
.reviews-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: var(--text-color);
}

.advantages-cards {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    gap: 16px;
}

.advantages-card {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 11px;
    background-color: rgba(255, 170, 0, 0.13);
    border-radius: 34px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: var(--text-color);
    padding: 5px;
}

.catalog-cards {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


.card {
    width: 280px;
    height: 353px;
    border-radius: 42px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    color: white;
    gap: 10px;
    transition: all 0.3s;
}
.card-content {
    position: absolute;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
}

.card-content>svg,
.reviews-slider>svg {
    width: 31px;
    height: 31px;
    background-color: var(--main-orange);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.card-text {
    padding-bottom: 3%;
}

.reviews-slider {

    padding: 80px 0;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
}

.slider-card {
    margin: 0 auto;
    max-width: 580px;
    max-height: 253px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    background: #F9F9F9;
    border: 1px solid var(--main-orange);
    border-radius: 40px;
    opacity: 0;
    transition: all 0.3s;
}


.slider-card-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 26px;
}

.slider-card>img {
    max-height: 253px;
}

.card-text-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-color);
}

.card-text-content {
    margin-top: 8px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--text-color);
}

.slider-prev,
.slider-next {
    position: absolute;
    bottom: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.slider-prev {
    right: 70%;
}

.slider-next {
    right: 27%;
}

#application {
    margin: 0 auto;
    margin-top: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 47px;
    background-image: url(../image/application_fon.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 42px 51px 28px 60px;
    max-width: 1178px;
    height: 439px;
    border-radius: 70px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.application-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: white;
}

#name,
#tel {
    width: 323px;
    height: 51px;
    background: white;
    border-radius: 42px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-color);
    padding-left: 23px;
}

#message {
    border: none;
    width: 323px;
    height: 143px;
    background: white;
    border-radius: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-color);
    padding-left: 23px;
    padding-top: 16px;
}

input[type="submit"] {
    border: none;
    width: 310px;
    height: 51px;
    background: var(--main-orange);
    border-radius: 42px;
    border: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

footer {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 148px;
    height: 84px;
    background: #25282D;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.block-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 50px;
}

.block-contact-email,
.block-contact-tel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.block-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    align-self: center;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .wrapper {
        padding: 0 10px;
    }
    .header-burg-list,
    .header-burg-wrapper {
    display: none;
}
    .header-logo,
    .text-content {
        font-weight: 300;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.16em;
    }

    .header-nav {
        font-size: 18px;
        line-height: 22px;
        gap: 25px;
    }

    .banner-image>img {
        max-width: 100%;
    }

    .text-title {
        font-size: 38px;
        line-height: 46px;
    }

    .card {
        width: 300px;
        gap: 9px;
        font-size: 20px;
        line-height: 25px;

    }


}

@media (min-width: 766px) and (max-width: 992px) {
    .wrapper {
        padding: 0 10px;
    }
    .header-burg-list,
    .header-burg-wrapper {
    display: none;
    }
    .header-logo,
    .text-content {
        font-weight: 300;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 0.12em;
    }

    .header-nav {
        font-size: 16px;
        line-height: 22px;
        gap: 10px;
    }

    .header-btn {
        width: 140px;
        height: 41px;
        border-radius: 42px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
    }

    .banner-image>img {
        max-width: 100%;
    }

    .banner {
        margin-top: 90px;
        gap: 10px;
    }

    .banner-text {
        max-width: 450px;
    }

    .text-title {
        font-size: 28px;
        line-height: 36px;
    }

    .text-btn {
        margin-top: 40px;
        width: 170px;
        height: 41px;
        border-radius: 42px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }

    .advantages-card{
        width: 230px;
        height: 135px;
        gap: 5px;
        font-size: 14px;
        line-height: 12px;
        padding: 15px;
    }

    .advantages-card >img {
        width: 70px;
        height: 70px;
    }
    .card>img {
        width: 172px;
    }

    .reviews-slider{
        margin-top: 0;
        padding: 80px 0;

    }


    .card-text-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
    }



    .application-title {
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
    }

    #name,
    #tel {
        width: 250px;
        height: 41px;
        border-radius: 42px;
        font-weight: 300;
        font-size: 18px;
        line-height: 20px;
    }

    #message {
        width: 250px;
        height: 120px;
        border-radius: 28px;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
    }

    input[type="submit"] {
        width: 250px;
        height: 41px;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
    }

    #advantages,
    #catalog,
    #reviews,
    #application {
        margin-top: 90px;
    }

    footer {
        margin-top: 90px;
        height: 64px;
    }

    .block-contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        gap: 10px;
        font-size: 14px;
    }

    .block-contact-email,
    .block-contact-tel {
        gap: 5px;
        justify-content: center;
    }

    .block-contact-tel>img,
    .block-contact-email>img {
        width: 7%;
        height: 7%;

    }
}

@media (min-width: 320px) and (max-width: 766px) {
    .wrapper {
        margin: 0 auto;
        padding: 0 19px;
    }

    .header {
        display: none;
    }

    .header-burg-wrapper {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-burg-close {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .header-burg-list {
        margin: 0 -19px;
        padding: 0 20px;
        padding-top: 72px;
        background-color: var(--main-orange);
        display: none;
    }

    .header-burg-nav {
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        color: black;
    }

    .header-burg-nav>a:hover {
        color: white;
    }

    .header-burg-btn {
        width: 274px;
        height: 51px;
        margin: 49px 0 76px;
        background: var(--main-orange);
        border: 1px solid white;
        border-radius: 42px;
    }

    .banner {
        margin-top: 48px;
        flex-direction: column-reverse;
        gap: 32px;
    }

    .banner-image>img {
        width: 282px;
        height: 240px;
    }

    .text-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }

    .text-content {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;

    }

    .text-btn {
        margin: 0 auto;
        margin-top: 27px;
        width: 274px;
        height: 51px;
        font-weight: 700;
    }

    .advantagages-title {
        margin-top: 60px;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }

    #advantages {
        margin-top: 61px;
    }

    .advantages-card{
        width: 285px;
        height: 131px;
        border-radius: 20.8741px;

    }

    .advantages-card>img {
        width: 80px;
        height: 80px;
    }

    .advantages-card>p {
        font-weight: 300;
        font-size: 14.7347px;
        line-height: 18px;
    }

    #catalog {
        margin-top: 32px;
    }

    .advantagages-title,
    .catalog-title,
    .reviews-title {
        font-size: 24px;
        line-height: 29px;
    }


    .catalog-cards {
        margin-top: 25px;
        flex-direction: column;
        gap: 18px;
    }

    #reviews {
        margin-top: 37px;
    }

    .reviews-slider {
        margin-top: -112px;
        padding: 130px 0;
        flex-direction: column;
        gap: 10px;

    }

    .slider-card {
        width: 274px;
        height: 166px;
        border-radius: 30px;
    }
    .slider-card>img {
        width: 43%;
    }
    .slider-card-text {
        padding: 10px;
    }

    .card-text-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
    }
    .slider-prev {
        right: 85%;
    }
    .slider-next {
        right: 5%;
    }
    .reviews-block {
        margin: 0;
        padding: 70px 0;
    }
    .card-text-content {
        margin-top: 4px;
        font-weight: 300;
        font-size: 10px;
        line-height: 12px;
    }

    .block-card>img {
        max-height: 165px;
    }

    .block-card-text {
        padding: 10px;
    }

    #application {
        width: 271px;
        height: 651px;
        margin-top: 28px;
        flex-direction: column;
        border-radius: 103px;
        justify-content: center;
        padding: 20px;
        background-size: cover;
        background-position: bottom;

    }

    .application-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }

    form {
        margin: 0;
    }

    #name,
    #tel {
        width: 237px;
        height: 51px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        border-radius: 42px;
    }

    #message {
        width: 237px;
        height: 143px;
    }

    input[type="submit"] {
        width: 249px;
        height: 51px;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }

    footer {
        margin-top: 76px;
        height: 215px;
        flex-direction: column;
        text-align: center;
    }

    .block-contact {
        flex-direction: column;
        gap: 15px;
    }
}